@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@300;400;500;700&display=swap');
.darkmode{
  /* background-image: url(./img/black.jpg) !important; */
  color:whitesmoke !important;
  text-align: center;
  z-index: -2;
  background-color: black !important;
}
.App{
  font-family: 'Martian Mono', monospace;
  text-align: center;
  margin-bottom: 15px;
}
.link{
  text-decoration: none;
  color:	black !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.center{ 
  display: flex;
  align-items: center;
  justify-content: center;
}

.logos{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  margin: 10px;
  font-family: 'Martian Mono', monospace;

}

#skills{
  margin: 20px;
  background-color: dimgray;
  border: 1px black solid;
  padding: 5px;
  color: blanchedalmond;
}
#skills img{
  height: 130px;
  padding: 25px;
  background-color:rgb(240, 248, 255);
  border-radius: 25%;
}

.header{
  margin: 5px;
}

.modal-open{
  text-align: center;
}
